.git
.gitignore
.env
.idea
tmp/
bin/
vendor/
*.test
*.log
Dockerfile
docker-compose.yml
README.md
LICENSE
documentation/
postman/
deploy/
.github/
.agents/
.codex/
.idea/
.jules/
.vscode/
documentation/
llm/

**/.nyc_output/
**/.output/
**/build/
**/dist/
**/out/

# ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••
# Cache & Temporary
# ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••

**/.cache/
**/.turbo/

.node_repl_history

*.cache
*.temp
*.tmp

# ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••
# Dependencies
# ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••

**/.npm/
**/.pnpm/
**/.pnpm-store/
**/.yarn/
**/bower_components/
**/node_modules/

.npmignore
.npmrc
.npmrc.*
.yarnrc
.yarnrc.yml

pnpm-workspace.yaml

# ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••
# Logs & Debug
# ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••

**/logs/

npm-debug.log*
pnpm-debug.log*
yarn-error.log
*.log
*.log.*


**/_output/
**/out/

# ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••
# Cache & Temporary
# ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••

go.mod~
go.sum~

*.exe~

# ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••
# Dependencies
# ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••

**/.gocache/
**/go/pkg/include/
**/go/pkg/mod/
**/go/pkg/sumdb/
**/go/pkg/tool/
**/vendor/

# ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••
# Testing
# ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••

**/__coverage__/

*.bench
*.bench.bin
*.bench.exe
*.bench.out
*.block.out
*.block.prof
*.cov
*.cover
*.coverprofile
*.cpu.out
*.cpu.prof
*.mem.out
*.mem.prof
*.mutex.out
*.mutex.prof
*.pprof
*.pprof.bin
*.pprof.gz
*.pprof.out
*.prof
*.spec.go
*.test
*.test.bin
*.test.exe
*.test.go
*.test.out
*.trace
*.trace.out

# ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••
# Tools & Configuration
# ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••

go.work
go.work.sum

vite.config.*.js
vite.config.*.timestamp-*
vite.config.*.ts
vite.config.js
vite.config.js.map
vite.config.ts
vite.config.ts.map

vite.env
vite.env.*
vite.local
vite.preview
vite.preview.*
